<p>こんにちは <%= @resource.name%>さん（<%= @resource.email %>）</p>

<p>↓をクリックして、パスワード変更してください</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりのない場合、このメールを無視してください</p>
